.main-header {
  height: 70px;
  width: 100%;
  background-color: #262c40;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links p {
  margin-right: 20px;
  cursor: pointer;
}
